<html>
    <head>
        <title>ML with Flask</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body text-align = "center">
        <div class="ui inverted container">
            <div class="ui inverted borderless menu topmenu">
                <h1 class="ui blue inverted header"><a class="ui item" href="/">CheckNet</a></h1>
            </div>
        </div>
        <div class="ui hidden divider"></div>

        <div class="ui center aligned container">
        <div class="ui hidden divider"></div>
            <div class="ui center aligned padded centered grid">

                <button class="ui orange labeled icon button">
                    <i class="arrow circle left icon"></i>
                    <a class="ui item" href="/">LOAD NEW</>
                </button>

                <button class="ui toggle active labeled icon button">
                    <i class="download icon"></i>
                    CSV RESULTS
                </button>
            </div>
            <div class="ui raised segment">
                <div class="ui equal width center aligned centered grid">
                   <div class="ui green four wide centered column">
                     {% for table in tables %}
                        {{titles[loop.index]}}
                        {{ table|safe }}
                     {% endfor %}
                   </div>
                   <div class="twelve wide column">
                     <img class ="ui rounded fluid image" src="{{ prediction_image }}" alt = 'Predictions on image'>
                   </div>
                </div>
            </div>
        </div>
    </body>
</html>
